body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
    margin: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}